
.first{
    background-color:#1F2937;
    margin:0px;
    color:#F9FAF8;
}

.header{
    display:flex;
    gap:15px;
    align-items: center;
   
    padding: 15px 100px 0px 100px;
}
.logo{
    font-size: 24px;
    flex:1;
    font-weight: bold;
    color:#F9FAF8;
}
.first-band{
    display: flex;
    
    padding:100px;
    gap:30px;
}
.awesome{
    font-size: 18px;
    color:#E5E7EB;
    flex:1;
    flex-direction: column;
    display:flex;
    justify-content: space-between;
}

.extra-bold{
    font-size: 48px;
    color:#F9FAF8;
    font-weight: 900;
}
.button{
    background-color: #3882F6;
    margin-top:10px ;
    border-radius:5px;
    padding:8px;
    text-align: center;
    justify-content: center;
    font-weight: bold;
    width:100px;
}

.placeholder{
    width: 200px;
    flex:1;
    display: flex;
}
img{
    width:100%;
    height:auto;
}
.second{
    background-color: antiquewhite;
}
.information{
    font-size: 36px;
    text-align: center;
    font-weight: bolder;
    color:#1F2937;
    padding:10px;
    margin-bottom:30px;
    padding-top: 50px;
}
.team{
    display: flex;
    padding-left: 100px;
    padding-right:100px;
    padding-bottom: 100px;
    gap:50px; 
}

.class{
    flex:1;
    display:flex; 
    flex-direction: column;
    justify-content: center;
    text-align: center;
    object-fit: contain;
}

.titre{
    padding-top: 10px;
}
.third{
    background-color: bisque;
    display: flex;
    flex-direction: column;
    padding:50px 150px 50px;
    

}
.quote{
    text-align: center;
    font-style: italic;
    font-size: 36px;
    color:#1F2937;
    
}
.author{
    justify-content: flex-end;
    text-align: end;
    font-weight: bold;
}